[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
# url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "==1.1.0"
attrs = "==21.4.0"
cvzone = "==1.5.6"
cycler = "==0.11.0"
fonttools = "==4.33.3"
kiwisolver = "==1.4.3"
matplotlib = "==3.5.2"
mediapipe = "==0.10.1"
numpy = "==1.23.0"
opencv-contrib-python = "==4.6.0.66"
opencv-python = "==4.6.0.66"
packaging = "==21.3"
pillow = "==9.1.1"
protobuf = "==3.20.0"
pyparsing = "==3.0.9"
python-dateutil = "==2.8.2"
six = "==1.16.0"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.2"
